name: Latex Compilation
on: [push]
jobs:
  Compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compilation
        uses: ./.github/actions/texlive-action
